

.App__Header{
    text-align: center;
}

.App__Mean{
    display: flex;
    justify-content: center;
    align-items: center;
margin-top: 5rem;
}

.Game__Wrapper{
    min-width: 21rem;
    min-height: 21rem;
       display: grid;
       grid-template-columns: repeat(auto-fit, minmax(7rem, 1fr));
       gap: 0.2rem;
}

.Cell{
background: rgb(214, 214, 214);
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.value{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.X{
    font-size: 2rem;
    color: red;
}
.O{
    font-size: 2rem;
        color: rgb(0, 91, 219);
}